<img class="sandwich" src="images/sandwich.png" alt="Peanut Butter and Jelly Sandwich">
<h1 class="pb-color"><span class="solid">un</span>der con<span class="solid">struc</span>tion</h1>

<p class="large">
  mana mana<br>
  do dooooo d-do-do<br><br>
  mana mana<br>
  do doo do do
</p>