body {
  color: #333;
  background-color: rgba(250, 227, 199, 0.48);
  font-family: Garamond, Georgia, Times, serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  opacity: 0.8;
  color: inherit;
  border-bottom: dotted 1px rgba(0,0,0,0.33);
}

h1 {
  font-size: 72px;
  font-weight: normal;
  color: rgba(0,0,0,0.4);
}

h2 {
  font-size: 48px;
  opacity: 0.75;
}

h3 {
  font-size: 36px;
  font-weight: normal;
  opacity: 0.4;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

p {
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 1.4;
}

.pb-color {
  color: rgb(229, 198, 159) !important;
}

.large {
  font-size: 1.4em;
}

.solid {
  color: #511C55;
  opacity: 1;
}

/*  --- Layout --- */

.attribution {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


.wrapper {
  height: 100%;
}

.main {
  text-align: center;
  position: relative;
  top: 25%;
  transform: translateY(-25%);
  padding: 15px;
}

footer {
  padding: 15px;
  margin-top: 15px;
  border-top: solid 1px #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #511C55;
  color: rgba(255, 255, 255, 0.68);

  text-align: center;
}

.center {
  text-align: center;
}

img.sandwich {
  width: 200px;
}

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  /* --- Responsive Styles --- */
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
}

